li.nav-item {
	margin-left: 50px;
}

nav {
	background-color: white;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

a.nav-link:hover {
	background: #5c5c5e;
}

a.nav-link:active {
	color: white !important;
}

a.navbar-brand {
	color: red !important;
}

body {
	font-family: 'Oswald', sans-serif !important;
}
