li.nav-item {
	margin-left: 50px;
}

nav {
	background-color: white;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

a.nav-link:hover {
	color: #fff;
	background: #ffffff;
}

a.navbar-brand {
	color: yellow !important;
}